In [1]:
import os
import zipfile
import shutil

def organize_dataset(base_dir):
    dataset_dir = os.path.join(base_dir, "dataset")
    os.makedirs(dataset_dir, exist_ok=True)

    # Iterate over all zip files in base_dir
    for file_name in os.listdir(base_dir):
        file_path = os.path.join(base_dir, file_name)

        if zipfile.is_zipfile(file_path):
            # Create folder with same name as zip (without .zip)
            folder_name = os.path.splitext(file_name)[0]
            extract_path = os.path.join(base_dir, folder_name)
            os.makedirs(extract_path, exist_ok=True)

            # Unzip contents
            with zipfile.ZipFile(file_path, 'r') as zip_ref:
                zip_ref.extractall(extract_path)

            # Move CSV files to dataset folder
            for root, _, files in os.walk(extract_path):
                for f in files:
                    if f.lower().endswith(".csv"):
                        src = os.path.join(root, f)
                        dst = os.path.join(dataset_dir, f)
                        shutil.move(src, dst)

            # Remove the unzipped folder
            shutil.rmtree(extract_path)

            # Remove the original zip file
            os.remove(file_path)

    print(f"✅ All CSVs moved to: {dataset_dir}")

In [2]:
organize_dataset(r"C:\Users\USER\Desktop\AQA_data\data base")

✅ All CSVs moved to: C:\Users\USER\Desktop\AQA_data\data base\dataset

Data ingestion -- draft

In [6]:
dataset_path= r"C:\Users\USER\Desktop\AQA_data\data base\dataset\ACC.csv"
import pandas as pd
df = pd.read_csv(dataset_path)
print(df.head())

                  date     open     high      low    close  volume
0  2015-02-02 09:15:00  1554.90  1556.70  1544.80  1549.60    1441
1  2015-02-02 09:16:00  1550.70  1551.30  1546.50  1548.30     424
2  2015-02-02 09:17:00  1548.35  1549.00  1545.15  1547.55     831
3  2015-02-02 09:18:00  1547.55  1547.55  1543.00  1544.20    1297
4  2015-02-02 09:19:00  1544.25  1547.75  1544.25  1547.75     255

In [1]:
from sqlalchemy import Table, Column, MetaData, TIMESTAMP, Float, String
from sqlalchemy import create_engine
from sqlalchemy import text

In [2]:


engine = create_engine("postgresql://postgres:secret@localhost:5432/postgres", echo=True)

In [ ]:
#open     high      low    close  volume
metadata = MetaData()
stocks_table = Table("stocks", metadata,
    Column("time", TIMESTAMP),
    Column("ticker", String),
    Column("open", Float),
    Column("high", Float),
    Column("low", Float),
    Column("close", Float),
    Column("volume", Float)
)
metadata.create_all(engine)

In [ ]:
mock_data = df[:5].copy()

                  date     open     high      low    close  volume
0  2015-02-02 09:15:00  1554.90  1556.70  1544.80  1549.60    1441
1  2015-02-02 09:16:00  1550.70  1551.30  1546.50  1548.30     424
2  2015-02-02 09:17:00  1548.35  1549.00  1545.15  1547.55     831
3  2015-02-02 09:18:00  1547.55  1547.55  1543.00  1544.20    1297
4  2015-02-02 09:19:00  1544.25  1547.75  1544.25  1547.75     255

In [21]:
df["date"].min(), df["date"].max()

('2015-02-02 09:15:00', '2024-01-25 15:29:00')

In [19]:
def insert_into_postgres(dataframe, ticker:str):
    # Insert the DataFrame into the PostgreSQL database
    dataframe['ticker'] = ticker
    dataframe.sort_values(by='date', inplace=True, ascending=True)
    dataframe['time'] = pd.to_datetime(dataframe['date'])
    dataframe = dataframe[["time", "ticker", "open", "high", "low", "close", "volume"]]
    dataframe.to_sql("stocks", con=engine, if_exists="append", index=False)

In [18]:
insert_into_postgres(mock_data, ticker="mock_ticker")

2025-08-23 10:29:22,274 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-23 10:29:22,277 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-23 10:29:22,279 INFO sqlalchemy.engine.Engine [cached since 902.5s ago] {'table_name': 'stocks', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-23 10:29:22,290 INFO sqlalchemy.engine.Engine INSERT INTO stocks (time, ticker, open, high, low, close, volume) VALUES (%(time__0)s, %(ticker__0)s, %(open__0)s, %(high__0)s, %(low__0)s, %(close__0)s, %(volume__0)s), (%(time__1)s, %(ticker__1)s, %(open__1)s, %(high__1)s, %(low__1)s, %(close__1)s, ... 206 characters truncated ... )s), (%(time__4)s, %(ticker__4)s, %(open__4)s, %(high__4)s, %(low__4)s, %(close__4)s, %(volume__4)s)
2025-08-23 10:29:22,291 INFO sqlalchemy.engine.Engine [generated in 0.00018s (insertmanyvalues) 1/1 (unordered)] {'ticker__0': 'mock_ticker', 'close__0': 1549.6, 'open__0': 1554.9, 'time__0': datetime.datetime(2015, 2, 2, 9, 15), 'volume__0': 1441, 'low__0': 1544.8, 'high__0': 1556.7, 'ticker__1': 'mock_ticker', 'close__1': 1548.3, 'open__1': 1550.7, 'time__1': datetime.datetime(2015, 2, 2, 9, 16), 'volume__1': 424, 'low__1': 1546.5, 'high__1': 1551.3, 'ticker__2': 'mock_ticker', 'close__2': 1547.55, 'open__2': 1548.35, 'time__2': datetime.datetime(2015, 2, 2, 9, 17), 'volume__2': 831, 'low__2': 1545.15, 'high__2': 1549.0, 'ticker__3': 'mock_ticker', 'close__3': 1544.2, 'open__3': 1547.55, 'time__3': datetime.datetime(2015, 2, 2, 9, 18), 'volume__3': 1297, 'low__3': 1543.0, 'high__3': 1547.55, 'ticker__4': 'mock_ticker', 'close__4': 1547.75, 'open__4': 1544.25, 'time__4': datetime.datetime(2015, 2, 2, 9, 19), 'volume__4': 255, 'low__4': 1544.25, 'high__4': 1547.75}
2025-08-23 10:29:22,301 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM stocks LIMIT 10"))
    for row in result:
        print(row)

2025-08-26 14:20:31,908 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 14:20:31,908 INFO sqlalchemy.engine.Engine SELECT * FROM stocks LIMIT 10
2025-08-26 14:20:31,909 INFO sqlalchemy.engine.Engine [cached since 128.5s ago] {}
2025-08-26 14:20:31,911 INFO sqlalchemy.engine.Engine ROLLBACK

In [9]:
#empty the table 
# Truncate table
with engine.connect() as connection:
    connection.execute(text("TRUNCATE TABLE stocks"))
    connection.commit()

2025-08-26 14:20:27,864 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 14:20:27,866 INFO sqlalchemy.engine.Engine TRUNCATE TABLE stocks
2025-08-26 14:20:27,866 INFO sqlalchemy.engine.Engine [cached since 171.9s ago] {}
2025-08-26 14:20:27,873 INFO sqlalchemy.engine.Engine COMMIT

Seeding

In [3]:
import glob
import os
import pandas as pd

In [16]:

base_dir = r"C:\Users\USER\Desktop\AQA_data\data base\dataset"
csv_list = glob.glob(os.path.join(base_dir, "*.csv"))
csv_list.sort()
write_record = pd.read_csv(r"C:\Users\USER\write_record.csv")

In [17]:
def seed_database(engine, dataframe, percentage):
    with engine.connect() as connection:
        # Insert data into the database
        #stop_row = int(len(dataframe) * percentage)
        for idx, row in dataframe.iterrows():

            if row['written'] == 1:
                ticker = os.path.splitext(os.path.basename(row['stocks']))[0]
                df = pd.read_csv(row['stocks'])
                insert_into_postgres(df, ticker)
                #dataframe.at[idx, 'written'] = 1
                #dataframe.to_csv("write_record.csv", index=False)
                print(f"Inserted data for {ticker}")

In [ ]:
seed_database(engine, write_record, 0.25)

In [ ]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM stocks WHERE ticker = :ticker"), {"ticker": "mock_ticker"})
    for row in result:
        print(row)

Testing

In [4]:
from concurrent.futures import ThreadPoolExecutor
from sqlalchemy import text
import time

In [5]:
def run_query(query:str):
    with engine.connect() as conn:
        start = time.time()
        result = conn.execute(text(query)).fetchall()
        latency = time.time() - start
        return latency

def run_query_concurrent(query:str, concurrency:int):
    with ThreadPoolExecutor(max_workers=concurrency) as executor:
        latencies = list(executor.map(run_query, [query]*concurrency))
    return sum(latencies) / len(latencies)

def benchmark_performance_by_returned_rows(start_time:str, end_time:str, concurrency=1):
    query = f"SELECT stocks.close FROM stocks WHERE time > '{start_time}' AND time < '{end_time}' AND ticker = 'ACC'"
    volume_query = f"SELECT COUNT(*) FROM stocks WHERE time > '{start_time}' AND time < '{end_time}' AND ticker = 'ACC'"
    with engine.connect() as conn:
        result = conn.execute(text(volume_query))
        row_count = result.fetchone()[0]
        print(f"Row count for the query: {row_count}")
    return run_query_concurrent(query, concurrency)

In [6]:
start_time= "2015-02-02 09:15:00"
end_time= "2015-02-03 09:15:00"
# run_query_concurrent(f"SELECT stocks.close FROM stocks WHERE time > '{start_time}' AND time < '{end_time}' AND ticker = 'ACC'", 1)
benchmark_performance_by_returned_rows(start_time, end_time, concurrency=1)

2025-08-26 15:09:05,111 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-08-26 15:09:05,112 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-26 15:09:05,115 INFO sqlalchemy.engine.Engine select current_schema()
2025-08-26 15:09:05,115 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-26 15:09:05,116 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-08-26 15:09:05,117 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-26 15:09:05,118 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:09:05,119 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2015-02-03 09:15:00' AND ticker = 'ACC'
2025-08-26 15:09:05,119 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {}
Row count for the query: 374
2025-08-26 15:09:05,521 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:09:05,523 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:09:05,524 INFO sqlalchemy.engine.Engine SELECT stocks.close FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2015-02-03 09:15:00' AND ticker = 'ACC'
2025-08-26 15:09:05,525 INFO sqlalchemy.engine.Engine [generated in 0.00202s] {}
2025-08-26 15:09:05,740 INFO sqlalchemy.engine.Engine ROLLBACK

0.21765923500061035

In [7]:
start_time= "2015-02-02 09:15:00"
end_time= "2015-03-02 09:15:00"
benchmark_performance_by_returned_rows(start_time, end_time, concurrency=1)

2025-08-26 15:09:45,938 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:09:45,939 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2015-03-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:09:45,939 INFO sqlalchemy.engine.Engine [generated in 0.00144s] {}
Row count for the query: 7499
2025-08-26 15:09:46,164 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:09:46,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:09:46,167 INFO sqlalchemy.engine.Engine SELECT stocks.close FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2015-03-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:09:46,168 INFO sqlalchemy.engine.Engine [generated in 0.00224s] {}
2025-08-26 15:09:46,395 INFO sqlalchemy.engine.Engine ROLLBACK

0.22918391227722168

In [8]:
start_time= "2015-02-02 09:15:00"
end_time= "2016-02-02 09:15:00"
benchmark_performance_by_returned_rows(start_time, end_time, concurrency=1)

2025-08-26 15:09:59,306 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:09:59,307 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2016-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:09:59,307 INFO sqlalchemy.engine.Engine [generated in 0.00155s] {}
Row count for the query: 92232
2025-08-26 15:09:59,561 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:09:59,563 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:09:59,565 INFO sqlalchemy.engine.Engine SELECT stocks.close FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2016-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:09:59,566 INFO sqlalchemy.engine.Engine [generated in 0.00244s] {}
2025-08-26 15:09:59,871 INFO sqlalchemy.engine.Engine ROLLBACK

0.3083372116088867

In [10]:
start_time= "2015-02-02 09:15:00"
end_time= "2020-02-02 09:15:00"
benchmark_performance_by_returned_rows(start_time, end_time, concurrency=1)

2025-08-26 15:11:32,148 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:11:32,149 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2020-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:11:32,149 INFO sqlalchemy.engine.Engine [generated in 0.00124s] {}
Row count for the query: 461635
2025-08-26 15:11:32,433 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:11:32,435 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:11:32,438 INFO sqlalchemy.engine.Engine SELECT stocks.close FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2020-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:11:32,439 INFO sqlalchemy.engine.Engine [generated in 0.00348s] {}
2025-08-26 15:11:33,052 INFO sqlalchemy.engine.Engine ROLLBACK

0.6169497966766357

In [9]:
start_time= "2015-02-02 09:15:00"
end_time= "2025-02-02 09:15:00"
benchmark_performance_by_returned_rows(start_time, end_time, concurrency=1)

2025-08-26 15:10:17,734 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:10:17,735 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2025-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:10:17,736 INFO sqlalchemy.engine.Engine [generated in 0.00149s] {}
Row count for the query: 830959
2025-08-26 15:10:18,055 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:10:18,057 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:10:18,059 INFO sqlalchemy.engine.Engine SELECT stocks.close FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2025-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:10:18,060 INFO sqlalchemy.engine.Engine [generated in 0.00278s] {}
2025-08-26 15:10:19,019 INFO sqlalchemy.engine.Engine ROLLBACK

0.962108850479126

In [13]:
def benchmark_agg_by_involved_rows(start_time:str, end_time:str, concurrency=1):
    query = f"SELECT MAX(close) FROM stocks WHERE time > '{start_time}' AND time < '{end_time}' AND ticker = 'ACC'"
    volume_query = f"SELECT COUNT(*) FROM stocks WHERE time > '{start_time}' AND time < '{end_time}' AND ticker = 'ACC'"
    with engine.connect() as conn:
        result = conn.execute(text(volume_query))
        row_count = result.fetchone()[0]
        print(f"Row count for the query: {row_count}")
    return run_query_concurrent(query, concurrency)

In [14]:
start_time= "2015-02-02 09:15:00"
end_time= "2015-02-03 09:15:00"
benchmark_agg_by_involved_rows(start_time, end_time, concurrency=1)

2025-08-26 15:13:35,203 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:13:35,204 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2015-02-03 09:15:00' AND ticker = 'ACC'
2025-08-26 15:13:35,205 INFO sqlalchemy.engine.Engine [cached since 270.1s ago] {}
Row count for the query: 374
2025-08-26 15:13:35,438 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:13:35,440 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:13:35,441 INFO sqlalchemy.engine.Engine SELECT MAX(close) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2015-02-03 09:15:00' AND ticker = 'ACC'
2025-08-26 15:13:35,442 INFO sqlalchemy.engine.Engine [generated in 0.00185s] {}
2025-08-26 15:13:35,648 INFO sqlalchemy.engine.Engine ROLLBACK

0.2079479694366455

In [15]:
start_time= "2015-02-02 09:15:00"
end_time= "2015-03-02 09:15:00"
benchmark_agg_by_involved_rows(start_time, end_time, concurrency=1)

2025-08-26 15:14:24,566 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:14:24,567 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2015-03-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:14:24,568 INFO sqlalchemy.engine.Engine [cached since 278.6s ago] {}
Row count for the query: 7499
2025-08-26 15:14:24,833 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:14:24,835 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:14:24,836 INFO sqlalchemy.engine.Engine SELECT MAX(close) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2015-03-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:14:24,836 INFO sqlalchemy.engine.Engine [generated in 0.00184s] {}
2025-08-26 15:14:25,047 INFO sqlalchemy.engine.Engine ROLLBACK

0.21204233169555664

In [16]:
start_time= "2015-02-02 09:15:00"
end_time= "2016-02-02 09:15:00"
benchmark_agg_by_involved_rows(start_time, end_time, concurrency=1)

2025-08-26 15:14:37,961 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:14:37,962 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2016-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:14:37,962 INFO sqlalchemy.engine.Engine [cached since 278.7s ago] {}
Row count for the query: 92232
2025-08-26 15:14:38,199 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:14:38,201 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:14:38,202 INFO sqlalchemy.engine.Engine SELECT MAX(close) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2016-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:14:38,202 INFO sqlalchemy.engine.Engine [generated in 0.00192s] {}
2025-08-26 15:14:38,408 INFO sqlalchemy.engine.Engine ROLLBACK

0.20799469947814941

In [17]:
start_time= "2015-02-02 09:15:00"
end_time= "2020-02-02 09:15:00"
benchmark_agg_by_involved_rows(start_time, end_time, concurrency=1)

2025-08-26 15:14:54,895 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:14:54,895 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2020-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:14:54,896 INFO sqlalchemy.engine.Engine [cached since 202.7s ago] {}
Row count for the query: 461635
2025-08-26 15:14:55,124 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:14:55,126 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:14:55,128 INFO sqlalchemy.engine.Engine SELECT MAX(close) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2020-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:14:55,129 INFO sqlalchemy.engine.Engine [generated in 0.00233s] {}
2025-08-26 15:14:55,374 INFO sqlalchemy.engine.Engine ROLLBACK

0.24730348587036133

In [18]:
start_time= "2015-02-02 09:15:00"
end_time= "2016-02-02 09:15:00"
benchmark_agg_by_involved_rows(start_time, end_time, concurrency=1)

2025-08-26 15:15:08,540 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:15:08,541 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2016-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:15:08,542 INFO sqlalchemy.engine.Engine [cached since 309.2s ago] {}
Row count for the query: 92232
2025-08-26 15:15:08,769 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-26 15:15:08,770 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-26 15:15:08,772 INFO sqlalchemy.engine.Engine SELECT MAX(close) FROM stocks WHERE time > '2015-02-02 09:15:00' AND time < '2016-02-02 09:15:00' AND ticker = 'ACC'
2025-08-26 15:15:08,772 INFO sqlalchemy.engine.Engine [cached since 30.57s ago] {}
2025-08-26 15:15:08,986 INFO sqlalchemy.engine.Engine ROLLBACK

0.21552276611328125

test concurrent users

In [ ]:
results =[]
for i in range(1, 31):
    start_time = f"2015-02-02 09:15:00"
    end_time = f"2015-02-03 09:15:00"
    results.append(benchmark_agg_by_involved_rows(start_time, end_time, concurrency=i))

In [20]:
results

[0.21338391304016113,
 0.3415060043334961,
 0.5345894495646158,
 0.6765428781509399,
 0.8018641948699952,
 0.9261355400085449,
 1.0533698626926966,
 1.1750185787677765,
 1.2981516520182292,
 1.472161865234375,
 1.6423623128370806,
 1.9627320965131123,
 2.4222600276653585,
 2.950387341635568,
 2.8471153736114503,
 3.4279687851667404,
 3.6236735932967243,
 3.382500794198778,
 3.637892898760344,
 4.350529396533966,
 3.7718450341905867,
 3.7546278888529,
 3.6837619387585185,
 3.9595587849617004,
 3.8255960845947268,
 3.939568620461684,
 3.3213354216681585,
 3.3060420751571655,
 3.3261379620124556,
 3.8934194008509317]

In [ ]:
results =[]
for i in range(1, 31):
    start_time = f"2015-02-02 09:15:00"
    end_time = f"2015-02-03 09:15:00"
    results.append(benchmark_performance_by_returned_rows(start_time, end_time, concurrency=i))

In [42]:
results

[0.2422788143157959,
 0.39136803150177,
 0.5481098492940267,
 0.7331520318984985,
 0.8878989219665527,
 0.9962296485900879,
 1.113295555114746,
 1.2438002228736877,
 1.533905718061659,
 1.669558835029602,
 3.14808930050243,
 3.348422129948934,
 4.290988793739905,
 4.126159753118243,
 4.070354620615642,
 5.406765267252922,
 5.405239764381857,
 5.744576467408074,
 6.132320905986585,
 5.3632653713226315,
 5.192393098558698,
 5.626968849789012,
 5.616755402606467,
 5.112845768531163,
 4.852756814956665,
 5.155945539474487,
 5.244521847477666,
 5.386895886489323,
 4.829104620834877,
 5.021335236231486]